{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
    <h1>Type index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Signification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.code }}</td>
                <td>{{ type.signification }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_type_show', {'id': type.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_type_new') }}">Create new</a>
{% endblock %}
