{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1 class="text-secondary">Type</h1>

    <h2>{{ type.code }} <small class="text-muted">#{{ type.id }}</small></h2>
    <table class="table ms-2">
        <tbody>
            <tr>
                <th class="col-3">Signification</th>
                <td class="col-9">{{ type.signification }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">Back</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_type_edit', {'id': type.id}) }}">edit</a>

    <hr>
    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
