{% extends 'base.html.twig' %}

{% block title %}Material{% endblock %}

{% block body %}
    <h1 class="text-secondary">Material</h1>

    <h2>{{ material.name }} <small class="text-muted">#{{ material.id }}</small></h2>
    <table class="table ms-2">
        <tbody>
            <tr>
                <th> </th>
                <td> </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">back</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_material_edit', {'id': material.id}) }}">edit</a>

    <hr>
    {{ include('material/_delete_form.html.twig') }}
{% endblock %}
