{% extends 'base.html.twig' %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}

{% block body %}

	<h2>Administration interface</h2>
		
	<dl class="ms-4">
		<dt><a href="{{ path('app_part_index') }}">Manage Parts</a></dt>
		<dd>Add, delete or modify a part.</dd>
		<dt><a href="{{ path('app_material_index') }}">Manage Materials</a></dt>
		<dd>Add, delete or modify a material.</dd>
		<dt><a href="{{ path('app_supplier_index') }}">Manage Suppliers</a></dt>
		<dd>Add, delete or modify a supplier.</dd>
		<dt><a href="{{ path('app_project_index') }}">Manage Projects</a></dt>
		<dd>Add, delete or modify a project.</dd>
		<dt><a href="{{ path('app_type_index') }}">Manage Types</a></dt>
		<dd>Add, delete or modify a type.</dd>
		<dt><a href="{{ path('app_user_index') }}">Manage Users</a></dt>
		<dd>Add, delete or modify a user.</dd>
	</dl>

{% endblock %}
