{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Index {% endblock %}

{% block body %}
	<table id="index_table" 
		data-toggle="table"
		data-pagination="true"	
		data-search="true"
		data-filter-control="true"
		data-show-search-clear-button="true"
		data-buttons="buttons"
		data-show-button-text="true"
		data-classes='table table-bordered table-hover table-striped table-sm'>

		{# Hiding the table with this small script while we load all data and shape the table with JavaScript #}
		<script>
			document.getElementById('index_table').style.display = 'none';
		</script>
		
		<thead>
			<tr>
				<th data-field="id" data-visible="false">Id</th>
				<th data-field="reference" data-filter-control="input" data-sortable="true">Reference</th>
				<th data-field="rev"></th>
				<th data-field="description" data-filter-control="input">Description</th>
				<th data-field="projects" data-filter-control="input">Project</th>
				<th data-field="suppliers" data-filter-control="input">Supplier</th>
				<th data-field="materials" data-filter-control="select" data-filter-data="url:{{ path('app_material_filter')}}">Material</th>
			</tr>
		</thead>
		
		<tbody>
			{% for part in parts %}
			<tr>
				<td>
					{{ part.id }}
				</td>
				<td>
					<strong>{{ part.family.code }}{{ part.type.code }}{{ part.number }}</strong>
				</td>
				<td>
					{{ part.majorRev }}{{ part.minorRev }}
				</td>
				<td>
					{{ part.designation[:36] }}
				</td>
				<td>
					<ul class="list-unstyled" style="overflow: auto; max-height: 25px;">
						{% for project in part.projects %}
							<li>{{ project.name }}</li> 
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-unstyled" style="overflow: auto; max-height: 25px;">
					{% for supplier in part.suppliers %}
						<li>{{ supplier.name }}</li>
					{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-unstyled" style="overflow: auto; max-height: 25px;">
					{% for material in part.materials %}
						<li>{{ material.name }}</li>
					{% endfor %}
					</ul>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script>
		function buttons () {
			return {
				btnNewPart: {
					text: 'Create new',
					icon: 'bi bi-file-earmark-plus',
					event: function () {
						var URL = "/part/new";
						window.location.href=URL;
					},
					attributes: {
						title: 'Create new part'
					}
				},

				btnShowObsolete: {
					text: 'Show obsolete',
					icon: 'bi bi-layers-fill',
					event: function () {
						var URL = "/allParts";
						window.location.href=URL;
					},
					attributes: {
						title: 'Show obsolete parts'
					}
				},

				btnHideObsolete: {
					text: 'Hide obsolete',
					icon: 'bi bi-layers-half',
					event: function () {
						var URL = "/";
						window.location.href=URL;
					},
					attributes: {
						title: 'Hide obsolete parts'
					}
				}
			}
		}
	</script>

	{{ encore_entry_script_tags('bootstrap-table') }}
	<script type="text/javascript">
		{# We reactivate the table as it is now fully shaped #}
		$(function() {
			document.getElementById('index_table').style.display = 'table';
		});
	</script>
{% endblock %}
