{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_supplier_index') }}">back to list</a>
    <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
