{% extends 'base.html.twig' %}

{% block title %}Supplier index{% endblock %}

{% block body %}
    <h1>Supplier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ContactName</th>
                <th>ContactFunction</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.contactName }}</td>
                <td>{{ supplier.contactFunction }}</td>
                <td>{{ supplier.email }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_supplier_show', {'id': supplier.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_supplier_edit', {'id': supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_supplier_new') }}">Create new</a>
{% endblock %}
