{% extends 'base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}
    <h1 class="text-secondary">Supplier</h1>

    <h2>{{ supplier.name }} <small class="text-muted">#{{ supplier.id }}</small></h2>
    <table class="table ms-2">
        <tbody>
            <tr>
                <th class="col-3">Field</th>
                <td class="col-9">{{ supplier.field }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ supplier.address }}</td>
            </tr>
            <tr>
                <th>ContactName</th>
                <td>{{ supplier.contactName }}</td>
            </tr>
            <tr>
                <th>ContactFunction</th>
                <td>{{ supplier.contactFunction }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>PhoneStd</th>
                <td>{{ supplier.phoneStd }}</td>
            </tr>
            <tr>
                <th>PhoneDir</th>
                <td>{{ supplier.phoneDir }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ supplier.comments }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">back</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_supplier_edit', {'id': supplier.id}) }}">edit</a>

    <hr>
    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}
