{{ form_start(form) }}
    <div class="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row" data-controller="newPart">
        <div class="col-3">
            {{ form_row(form.family, {
                "attr": { "data-action": 'change->newPart#nextNumber' }
            }) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type, {
                "attr": { "data-action": 'change->newPart#nextNumber' }
            }) }}
        </div>
        <div class="col-4">
            {{ form_row(form.number, {
                "attr": { "data-newPart-target": 'number' }
            }) }}
        </div>
        <div class="col-1 mb-3 align-self-end">
            {% if is_granted('ROLE_ADMIN') %}
                <button id="activateNumber" type="button" class="btn btn-outline-dark" data-action="click->newPart#activateNumber">
                    <i class="bi bi-plus"></i>
                </button>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.designation) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-2">
                {{ form_row(form.majorRev) }}
            </div>
            <div class="col-2">
                {{ form_row(form.minorRev) }}
            </div>
        {% else %}
            <div class="col-2">
                {{ form_row(form.majorRev, { 'attr': {'readonly':'readonly'} }) }}
            </div>
            <div class="col-2">
                {{ form_row(form.minorRev, { 'attr': {'readonly':'readonly'} }) }}
            </div>
        {% endif %}
        <div class="col-2 mb-2 align-self-end">
            {{ form_row(form.isCAD, {
            "required": true,
            "label": "CAD file",
            "params": {
                "container": false
            }
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.projects) }}
        </div>
        <div class="col-6">
            {{ form_row(form.materials) }}
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            {{ form_row(form.suppliers) }}
        </div>
        <div class="col-4 align-self-center">
            {{ form_row(form.supplierRef) }}
        </div>
    </div>

    <div class="row">
        {{ form_row(form.commentary) }}
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.picture, {
                "type": "file"
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(form.document, {
                "type": "file"
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(form.primaryFile, {
                "type": "file"
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(form.secondaryFile, {
                "type": "file"
            }) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">Back</a>
    <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
