{% extends 'base.html.twig' %}

{% block title %}Edit Part{% endblock %}

{% block body %}
    <h1>Edit Part</h1>

    {{ include('part/_form.html.twig', {'button_label': 'Update'}) }}

    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('part/_delete_form.html.twig') }}
    {% endif %}    
{% endblock %}
