{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}
    <h1>Part index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Designation</th>
                <th>Revision</th>
                <th>LastUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.id }}</td>
                <td>{{ part.family.code }}-{{ part.type.code }}{{ part.number }}</td>
                <td>{{ part.designation }}</td>
                <td>{{ part.majorRev }}-{{ part.minorRev }}</td>
                <td>{{ part.lastUser }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_part_show', {'id': part.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_part_edit', {'id': part.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_part_new') }}">Create new</a>
{% endblock %}
