{% extends 'base.html.twig' %}

{% block title %}Part{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                {% if part.isObsolete %}
                    <h1 class="text-danger">{{ part.designation }}
                        <small class="text-muted">#{{ part.id }}</small>
                        (Obsolete)
                    </h1>
                {% else %}
                    <h1>{{ part.designation }}
                        <small class="text-muted">#{{ part.id }}</small>
                    </h1>
                {% endif %}
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-3 text-end">
                <a href="{{ path('app_part_prev', {'id': part.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-caret-left"></i>
                    Prev</a>
                <a href="{{ path('app_part_next', {'id': part.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Next
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
        <hr>

        <div class="row align-items-center">
            <div class="col">
                <strong>Reference:</strong>
                <h2>{{ part.family.code }}-{{ part.type.code }}{{ part.number }}
                    </small>
                </h2>
            </div>
        
            <div class="col-2">
                <strong>Last revision:</strong>
                {{ part.majorRev }}{{ part.minorRev }}
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#upgradeMajorModal">Update (Major)
                    <i class="bi bi-arrow-up"></i>
                </button>
                <br>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#upgradeMinorModal">Update (minor)
                    <i class="bi bi-arrow-up"></i>
                </button>
            </div>
            <div class="col col-3 offset-1 text-end" data-bs-toggle="tooltip" data-bs-placement="top" title="Last user: {{ part.lastUser }} ">
                <strong>Creation date:</strong>
                {% if part.createdAt != NULL %}
                    {{ part.createdAt |date("Y/m/d") }}
                {% endif %}
                <br>
                <strong>Modification date:</strong>
                {% if part.updatedAt != NULL %}
                    {{ part.updatedAt |date("Y/m/d") }}
                {% endif %}
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-8">
                <strong>Suppliers:</strong>
                <br>
                {% for supplier in part.suppliers %}
                    {% if not loop.first %}
                        /
                    {% endif %}
                    <a href="{{ path('app_supplier_show', {'id': supplier.id}) }}">{{ supplier.name }}</a>
                {% endfor %}
                {% if part.supplierRef != NULL %}
                    &emsp;
                    <strong> Supplier reference:</strong>
                    {{ part.supplierRef }}
                {% endif %}
                <br>
                <strong>Projects:</strong>
                <br>
                {% for project in part.projects %}
                    {% if not loop.first %}
                        /
                    {% endif %}
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">{{ project.name }}</a>
                {% endfor %}
                <br>
                <strong>Materials:</strong>
                <br>
                {% for material in part.materials %}
                    {% if not loop.first %}
                        /
                    {% endif %}
                    <a href="{{ path('app_material_show', {'id': material.id}) }}">{{ material.name }}</a>
                {% endfor %}

            </div>
            {% if part.pictureFilename != null %}
                <div class="col col-4 mt-1 mb-3 text-center">
                    <img src="{{ asset( picture_dir ~ '/' ~ part.pictureFilename) }}" alt="picture" class="img-thumbnail img-fluid" style="max-height: 250px" />
                </div>
            {% else %}
                <div class="col col-4 mt-1 mb-3 text-center">
                    <img src="{{ asset('build/images/reflexion.jpg') }}" alt="reflexion" class="img-fluid" />
                </div>
            {% endif %}
        </div>
        <hr>

        <div class="row">
            <div class="col mt-1 mb-3">
                <div>
                    <strong>Files:</strong>
                    {% if primaryFile.fileName is defined %}
                        {% if (part.family.code ~'-'~ part.type.code ~ part.number ~'-' ~ part.majorRev ~ part.minorRev) in primaryFile.fileName %}
                            <a class="btn btn-success" href="{{ asset( file_dir ~ '/' ~ primaryFile.fileName) }}" Download>
                                Primary
                            </a>
                        {% else %}
                            <a class="btn btn-warning" href="{{ asset( file_dir ~ '/' ~ primaryFile.fileName) }}" Download>
                                Primary
                            </a>
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-danger">Primary</button>
                    {% endif %}
                    {% if secondaryFile.fileName is defined %}
                        {% if (part.family.code ~'-'~ part.type.code ~ part.number ~'-' ~ part.majorRev ~ part.minorRev) in secondaryFile.fileName %}
                            <a class="btn btn-success" href="{{ asset( file_dir ~ '/' ~ secondaryFile.fileName) }}" Download>
                                Secondary
                            </a>
                        {% else %}
                            <a class="btn btn-warning" href="{{ asset( file_dir ~ '/' ~ secondaryFile.fileName) }}" Download>
                                Secondary
                            </a>
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-danger">Secondary</button>
                    {% endif %}
                    <span {{ stimulus_controller('modal', {
                        url: path('old_revisions', {'part_id': part.id})
                        }) }}>
                        <button type="button" class="btn btn-outline-secondary" data-action= 'click->modal#loadModal'><i class="bi bi-plus"></i></button>
                        {# Including modal template that will be filled and displayed by our stimulus controller #}
                        {{ include('default/_modal.html.twig', {
                            modalTitle: 'Old revisions'
                        }) }}
                    </span>
                    <span {{ stimulus_controller('modal', {
                        url: path('documents_list', {'part_id': part.id})
                        }) }}>
                        <strong>Documents:</strong>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-action= 'click->modal#loadModal'><i class="bi bi-folder2-open"></i></button>
                        {# Including modal template that will be filled and displayed by our stimulus controller #}
                        {{ include('default/_modal.html.twig', {
                            modalTitle: 'Documents list'
                        }) }}
                    </span>
                </div>
                <hr>
                <div>
                    <strong>Commentary:</strong>
                    <br>
                    {% apply markdown_to_html %}
                        {{ part.commentary }}
                    {% endapply %}
                </div>
            </div>
            <div class="col-md-auto"></div>
            <div class="col col-3">
            </div>
        </div>
        <hr>

        <div class="row align-items-center">
            <div class="col">
                {{ include('part/_delete_form.html.twig') }}
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_part_toogleObsolete', {'id': part.id}) }}">
                    {% if part.isObsolete %}
                        Undo obsolete
                    {% else %}
                        Make obsolete
                    {% endif %}
                </a>
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-3 text-end">
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_homepage') }}">back to list</a>
                <a class="btn btn-primary btn-sm" href="{{ path('app_part_edit', {'id': part.id}) }}">Update part</a>
            </div>
        </div>
    </div>

    <!-- Modal for major revision update -->
    <div class="modal fade" id="upgradeMajorModal" tabindex="-1" aria-labelledby="upgradeMajorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="upgradeMajorModalLabel">
                        Upgrade major revision
                        <span class="badge bg-warning text-dark">Warning</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to update the major revision.
                    <br>
                    Old revision : <strong>{{ part.majorRev }}</strong>
                    <br>
                    <span class="badge rounded-pill bg-info text-dark">Info</span>
                    The minor revision will be reset.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-primary" href="{{ path('app_part_upgradeMajor', {'id': part.id}) }}">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for minor revision update -->
    <div class="modal fade" id="upgradeMinorModal" tabindex="-1" aria-labelledby="upgradeMinorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="upgradeMinorModalLabel">
                        Upgrade minor revision
                        <span class="badge bg-warning text-dark">Warning</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to update the minor revision.
                    <br>
                    Old revision : <strong>{{ part.minorRev }}</strong>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-primary" href="{{ path('app_part_upgradeMinor', {'id': part.id}) }}">Confirm</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Enable tooltips for Bootsrap (locally)
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
