<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Easy PDM {% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/EasyPDM Favicon.png')}}">

		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
	</head>

	<body>
		<div class="container">
			<header id="page-header" class="row align-items-center">
				<div id="logo" class="col-3 mt-2">
					<img src="{{ asset('build/images/org_logo.jpg') }}" alt="logo" style="width: 150px"/>
				</div>
				<div class="col-8">
					<h1 class="fs-3 mt-3">
						{{ org_name }} - Easy PDM  
					</h1>
				</div>
				<div class="col-1">
					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-outline-secondary btn-sm" href="{{ path('app_adminpage') }}">
							Admin <i class="bi bi-tools"></i>
						</a>
					{% endif %}
				</div>
			</header>
			<hr>
			<div class="row" style="min-height: 600px">
				<nav id="menu" class="col-2">
					<h3>Menu</h3>
						<ul class="nav nav-pills flex-column mb-auto">
							<li class="nav-item">
								<a href="{{ path('app_homepage') }}" class="nav-link link-dark" aria-current="page">
									<i class="bi bi-house-door"></i>
									Home
								</a>
								{% block menu %}
								{% endblock %}
							</li>
						</ul>
					<hr>
					
					
					<ul class="nav nav-pills flex-column mb-auto">
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<strong><i class="bi bi-person"></i> {{ app.user.username }}</strong>
						<li class="nav-item">
							<a class="nav-link link-dark"  href="{{ path('user_profile', { 'id': app.user.id }) }}">
								<i class="bi bi-pencil-square"></i> Profil 
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-dark rounded"  href="{{ path('app_logout') }}">
								<i class="bi bi-power"></i> Logout 
							</a>
						</li>
						{% else %}
							<a class="btn btn-outline-secondary btn-sm" href="{{ path('app_login') }}">
								<i class="bi bi-power"></i> Log in
							</a>
						{% endif %}
					</ul>	
					
				</nav>
				<section id="content" class="col-10">
					{% block flashes %}
						{# On gère les messages flash de façon globale #}
						{% for label, messages in app.flashes %}
						   {% for message in messages %}
						 		<div class="alert alert-{{ label }} alert-dismissible fade show">
						 			{{ message|raw }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						      	</div>
						   {% endfor %}
						{% endfor %}
					{% endblock %}

					{% block body %}
					{% endblock %}
				</section>
			</div>
			<hr>		
			<footer>
				<p><small>easyPDM v{{ shivas_app_version }} - 2022 | {{ org_address }}</small></p>
			</footer>
		</div>
	</body>

	{% block javascripts %}
        {{ encore_entry_script_tags('app') }}		 	
	{% endblock %}

</html>
