<div class="row">
	{% if list_documents is not empty %}
		{% for document in list_documents %}
			<div class="col-6 d-grid gap-2">
				{% if document.fileName is defined %}
					<a class="btn btn-outline-dark mb-2" href="{{ asset( file_dir ~ '/' ~ document.fileName) }}" download>
						{{ document.title | slice(0, 44)}}
					</a>
				{% endif %}
			</div>
		{% endfor %}
	{% elseif list_primary is not empty or list_secondary is not empty %}
		<div class="col-6">
			<h6>Primary files</h6>
			<div class="d-grid gap-1">
				{% for file in list_primary %}
					{% if file.fileName is defined %}
						<a class="btn btn-outline-dark mb-2" href="{{ asset( file_dir ~ '/' ~ file.fileName) }}" download>
							{{ file.title | slice(0, 44)}}
						</a>
					{% endif %}
				{% endfor %}
			</div>	
		</div>
		<div class="col-6">
			<h6>Secondary files</h6>
			<div class="d-grid gap-1">
				{% for file in list_secondary %}
					{% if file.fileName is defined %}
						<a class="btn btn-outline-dark mb-2" href="{{ asset( file_dir ~ '/' ~ file.fileName) }}" download>
							{{ file.title | slice(0, 44)}}
						</a>
					{% endif %}
				{% endfor %}
			</div>	
		</div>
	{% else %}
		<span class="text-muted">There is no document for this entity.</span>
	{% endif %}
</div>
