{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="text-secondary">Project</h1>

    <h2>{{ project.name }} <small class="text-muted">#{{ project.id }}</small></h2>
    <table class="table ms-2">
        <tbody>
            <tr>
                <th class="col-3">Code</th>
                <td class="col-9">{{ project.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">back</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
