{{ form_start(form) }}
    <div class="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.username) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.email) }}
    </div>
    <div class="mb-3">
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.roles) }}
        {% else %}
            {{ form_row(form.roles, { 'attr': {'disabled': true } }) }}
        {% endif %}
    </div>

    {{ form_rest(form) }}
    <div class="row">
        <div class="col-6 text-left">
            <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">Back</a>
            <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
        </div>
        <div class="col-6 d-grid d-md-flex justify-content-md-end">
            <a class="btn btn-outline-secondary btn-sm float-right" href="{{ path('user_change_password', {'id': user.id}) }}">Change password</a>
        </div>
    </div>
{{ form_end(form) }}
