{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
