{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('user_profile', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_user_new') }}">Create new</a>
    
    {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <div class="text-end">
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_passwordReset') }}">
                Password Reset <i class="bi bi-screwdriver"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}
