{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="text-secondary">User</h1>

    <h2>{{ user.username }} <small class="text-muted">#{{ user.id }}</small></h2>
    <table class="table  ms-2">
        <tbody>
            <tr>
                <th class="col-3">Email</th>
                <td class="col-9">{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm" href="{{ app.request.headers.get('referer') }}">Back</a>

    <a class="btn btn-primary btn-sm" href="{{ path('user_profile', {'id': user.id}) }}">edit</a>

    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
